<!-- <mat-divider></mat-divider> -->
<div class="side-nav-content border-white">
    <mat-nav-list>
        <a mat-list-item class="border-white d-flex align-items-center justify-content-center"
            [routerLink]="['/dashboard/requirements']" [routerLinkActive]="['active']"
            (keydown.escape)="$event.stopPropagation()">
            <span class="icon">
                <img src="../../../assets/images/resources.png" style="width:30px;height: 30px;">
            </span>
        </a>
        <div class="listname">
            task
        </div>

    </mat-nav-list>
</div>
